/**
 *  @module         manual
 *  @version        see info.php of this module
 *  @authors        Ryan Djurovich, Chio Maisriml, Thomas Hornik, Dietrich Roland Pehlke
 *  @copyright      2004-2023 Ryan Djurovich, Matthias Gallas, Uffe Christoffersen, pcwacht, Rob Smith, Aldus, erpe
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 *
 */

table.settings {
	background-color: #eee;
	line-height: 20px;
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 20px;
}

.setting_name {
	vertical-align: top;
	padding: 10px;
}

input.header, input.footer {
	width: 98%;
	margin-left: 10px;
	padding: 7px;	
}

/* 
  The definitions below provide the style for the edit CSS button 
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
#mod_manual_edit_css {
  color: #000;
  background-color: #F0F0F0;
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  margin-left: 625px;
  margin-top: -20px;
  margin-bottom: 5px;
  width: 110px;
}

div.manual_head_title {
	margin: 20px 0px 20px 20px;
	font-weight: bold;
	color:#990000;
}

ul.manual_backend_table_list {
	outline: 1px soild #009900;
	list-style: none;
	margin-top:5px;
	margin-bottom:5px;
}

ul.manual_backend_table_list li {
	display: list-item;
	border-top: 1px solid #CCCCCC;
	padding-top: 5px;
	padding-bottom:5px;
	margin-bottom: 12px;
}

ul.manual_backend_table_list.context_0,
ul.manual_backend_table_list.context_1,
ul.manual_backend_table_list.context_2,
ul.manual_backend_table_list.context_3 {
/*
	margin-left:20px;
	margin-bottom: 10px;
	*/
}

span.manual_backend_table_title {
	margin-left:23px;
}

span.manual_backend_action_group {
	width:280px;
	text-align:center;
	display: list-item;
	float:right;
}
/*
div.level_1 { padding-left: 23px; margin-bottom: 10px;}
div.level_2 { padding-left: 46px; margin-bottom: 10px;}
div.level_3 { padding-left: 69px; margin-bottom: 10px;}

*/
div.manual_interface { 
    padding-bottom: 23px !important;
    margin: 16px !important;
}

div.spacer_33 { display: block; width:100%; height:33px; }

div.edit_css {
    float: right;
}

.manual_backend_table_row {
    display: block;
    float: left;
    width: 100%;
    outline: 1px solid #990000;
}

ul.manual {
    list-style: none;
	margin-top:5px;
	margin-bottom:12px;
	margin-right: 32px;
}

ul.manual li {
    margin-bottom: 12px;
}

.manual_backend_table_action { display: inline-block; width: 80px; }
.manual_backend_table_title { display: inline-block; width: 300px; }

.context_0 { margin-left:  0px; }
.context_1 { margin-left: 16px; }
.context_2 { margin-left: 16px; }
.context_3 { margin-left: 16px; }

.manual_backend_table_title.context_0 { width: 300px; }
.manual_backend_table_title.context_1 { width: 284px; }
.manual_backend_table_title.context_2 { width: 268px; }
.manual_backend_table_title.context_3 { width: 252px; }

span.manual_edit { display: block; float: left; width: 32px; }
span.manual_title { display: block; float: left; width: 400px; }

span.manual_title.context_1 { display: block; float: left; width: 368px; }
span.manual_title.context_2 { display: block; float: left; width: 352px; }
span.manual_title.context_3 { display: block; float: left; width: 304px; }

div.manual_ajax_response { display: none; }

table.manual_edit_chapter {
    width: 100%;
/*    outline: 1px solid #009900; */
    border-collapse: separate;
    border-spacing: 3px;
}

table.manual_edit_chapter textarea,
table.manual_edit_chapter input[type="text"],
table.manual_edit_chapter select {
    width: 50%;
}
table.manual_edit_chapter td {
    height:36px;
}
table.manual_edit_chapter td:first-child {
    width: 83px;
    text-align: right;
    padding-right: 2px;
}

table.manual_edit_chapter td:first-child label {
    font-weight: normal;
}

table.manual_edit_chapter textarea {
    height: 60px;
}

td.manual_buttons {
    margin-top:23px;
    display: inline-block;
}

td.manual_valign_top {
    vertical-align: top;
}

img.active_state {
    cursor: pointer;
}

select.see_also {
    min-height: 100px;
    margin-bottom: 20px;
}
span.manual_type {
    font-size:10px;
    vertical-align: top;
}
span.manual_type:before {
    content: "[";
    vertical-align: top;
}
span.manual_type:after {
    content: "]";
    vertical-align: top;
}

textarea#manual_description,
textarea#manual_tags,
textarea#manual_content { border: 1px solid #d3d3d3; }

span.manual_required { color: #990000; position: relative; top: -0.5em; font-size: 80%; margin-left:3px; }
hr.manual_hr { margin: 9px 5px; border:none; border-top: #BBBBBB solid 1px; }