/**
 *	manual - additional css
 */
 
span.row_icon_edit {
	width: 40px;
	display: block;
	text-align:center;
	float:left;
}

span.row_chapter_title {
	width: 200px;
	float:left;
}

div.ui.list.level_1 { padding-left:30px; }
div.ui.list.level_2 { padding-left:30px; }
div.ui.list.level_3 { padding-left:30px; }
div.ui.list.level_4 { padding-left:30px; }


span.row_actions {
	width:140px;
	float:right;
}
