/**
 *	manual - additional css
 */
 
div.manual_head_title {
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:22px;
}

div.manual_backend_table {
	width: 100%;
}

ul.manual_backend_table_list {
	display:table;
	width:100%;
	list-style-type: circle;
}

ul.manual_backend_table_list li {
	background-color: #CCCCCC;
	outline: 1px solid #009900;
	display: table-cell;
}

ul.manual_backend_table_list li div {
	display: table-cell;
}
/*
ul.manual_backend_table_list li:last-child {
	border-bottom: none;
}

li.context_1 div.first::before { content:" "; width:60px; display:block; float:left; }
li.context_2 div.first::before { content:" "; width:80px; display:block; float:left; }
li.context_3 div.first::before { content:" "; width:100px; display:block; float:left; }

li a:hover {
	color: #FFFFFF;
}
ul.manual_backend_table_list li {
	width: 100%;
	height:23px;
	display: inline-table;
}



ul.manual_backend_table_list li div.manual_backend_table_title {
	min-width: 200px;
}

ul.manual_backend_table_list li div.manual_backend_table_action {
	
	width: 40px;
	text-align: center;
}

ul.manual_backend_table_list li div.manual_backend_table_action:first-child {
	text-align: left;
	padding-top: 5px;
}
*/