/**
 *	manual - additional css
 */
 
div.manual_head_title {
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:22px;
}

div.manual_backend_table {
	width: 100%;
}


ul.manual_backend_table_list {
	list-style-type: none;
	display:table;
	outline: 1px solid #FFFFFF;
}

ul.manual_backend_table_list.context_0 { margin-left:0px; background-color: #DDDDDD;}
ul.manual_backend_table_list.context_1 { margin-left:20px; background-color: #CCCCCC; float:right;}
ul.manual_backend_table_list.context_2 { margin-left:20px; background-color: #BBBBBB; float:right;}
ul.manual_backend_table_list.context_3 { margin-left:20px; background-color: #AAAAAA; float:right;}

ul.manual_backend_table_list.context_0:first-child,
ul.manual_backend_table_list.context_1:first-child,
ul.manual_backend_table_list.context_2:first-child,
ul.manual_backend_table_list.context_3:first-child {
	padding-top:6px;
}

ul.manual_backend_table_list.context_0:last-child,
ul.manual_backend_table_list.context_1:last-child,
ul.manual_backend_table_list.context_2:last-child,
ul.manual_backend_table_list.context_3:last-child {
	padding-bottom:14px;
}

ul.manual_backend_table_list li {
	width: 100%;
	height:23px;
	display: inline-table;
}

ul.manual_backend_table_list li div {
	display: table-cell;
}

ul.manual_backend_table_list li div.manual_backend_table_title {
	min-width: 200px;
}

ul.manual_backend_table_list li div.manual_backend_table_action {
	
	width: 50px;
	text-align: center;
}

ul.manual_backend_table_list li div.manual_backend_table_action:first-child {
	text-align: left;
	padding-left:5px;
	padding-top: 5px;
}