/**
 *	manual - additional css
 */
 
div.manual_head_title {
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:22px;
}

div.manual_backend_table {
	width: 100%;
}

ul.manual_backend_table_list {
	display:table;
	width:100%;
}

li.context_0 div { padding: 0 0 0 0; }
li.context_1 div.first::before { content:" "; width:60px; display:block; float:left; }
li.context_2 div.first::before { content:" "; width:80px; display:block; float:left; }
li.context_3 div.first::before { content:" "; width:100px; display:block; float:left; }

ul.manual_backend_table_list.context_0:first-child,
ul.manual_backend_table_list.context_1:first-child,
ul.manual_backend_table_list.context_2:first-child,
ul.manual_backend_table_list.context_3:first-child {
	padding-bottom:14px;
}

ul.manual_backend_table_list.context_0:last-child,
ul.manual_backend_table_list.context_1:last-child,
ul.manual_backend_table_list.context_2:last-child,
ul.manual_backend_table_list.context_3:last-child {
	padding-bottom:14px;
}

ul.manual_backend_table_list li {
	width: 100%;
	height:23px;
	display: inline-table;
}

ul.manual_backend_table_list li div {
	display: table-cell;
}

ul.manual_backend_table_list li div.manual_backend_table_title {
	min-width: 200px;
}

ul.manual_backend_table_list li div.manual_backend_table_action {
	
	width: 40px;
	text-align: center;
}

ul.manual_backend_table_list li div.manual_backend_table_action:first-child {
	text-align: left;
	padding-top: 5px;
}