/**
 *  @module         manual
 *  @version        see info.php of this module
 *  @authors        Ryan Djurovich, Chio Maisriml, Thomas Hornik, Dietrich Roland Pehlke
 *  @copyright      2004-2023 Ryan Djurovich, Matthias Gallas, Uffe Christoffersen, pcwacht, Rob Smith, Aldus, erpe
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 *
 */

.MLheader {
  color: #990000;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.MLpage_header {
  border-bottom: 1px solid #CCCCCC;
  margin-top: 5px;
}

.MLtitle {
  padding-bottom: 2px;
  color: #666666;
  font-weight: bold;
  font-size: 18px;
}

.MLdescription {
  color: #666666;
  padding-bottom: 2px;
}

ol.MLindex_table { 
    list-style-type: none;
    margin: 20px 0 0;
    padding-left: 10px;
}

.MLindex_table ol { 
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}

.MLchapter {
    color: #666;
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 10px;
}

.MLchapt_lnk {
    color: #333;
    font-size: 18px;
    font-weight: normal;
}

.MLsubchapt {
  color: #666666;
  font-size: 10px;
  font-weight: bold;
  padding-bottom:6px;
}

.MLsub2chapt {
  color: #666666;
  font-size: 9px;
  font-weight: bold;
}

.MLIndex_bg {
  background-color: #F0F0F0;
}

.MLupdated {
  color: #969696;
  font-size: 9px;
  padding-bottom: 5px;
  /*display:none;*/
}

.MLfooter {
    color: #888888;
    font-size: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#MLpage_chapt_lnk, #MLsubchapt_lnk, #MLsubchapt2_lnk {
    color: #666666;
    font-size: 17px;
    font-weight: normal;
    text-decoration: underline;
}


#MLprev_link_top, #MLnext_link_top {
  color: #666666;
  font-size: 11px;
  font-weight: bold;
}

#MLprev_link_btm, #MLnext_link_btm, #MLindex_link_btm {
  color: #666666;
  font-size: 11px;
  font-weight: bold;
}

#organe th {font-size:15px;}

#organe .first {font-weight:bold; color:#666}

/*** Don't remove the class nixhier, this is required for ASP ***/
.nixhier {
	display:none;
}

/**
 *	2.8.2
 */
p.MLchapt_description {
	color: #999999;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	margin-left:20px;
	white-space: pre;
}

ol.level0 { margin-left: 10px; }
ol.level1 { margin-left: 20px; margin-top:10px; }
ol.level2 { margin-left: 30px; margin-top:10px; }
ol.level3 { margin-left: 40px; margin-top:10px; }
ol.level4 { margin-left: 50px; margin-top:10px; }

a.level1,
a.level2,
a.level3,
a.level4 {
	font-size: 13px;
	font-weight: normal;
}

p.MLdescription {
	margin-left:20px;
	margin-bottom:20px;
	font-weight: normal;
	font-style: italic;
	color:#999999;
}

div.MLnavi {
	display: table;
	width: 100%;
	text-align: center;
	height: 32px;
}

div.MLnavi a.MLindex_link_top {
	color: #AAAAAA;
	font-size: 12px;
}

div.MLnavi a.MLindex_link_top:hover {
	color: #000000;
}

p.last_update_info {
	font-size: 11px;
	color: #CCCCCC;
	display: block;
	width: 100%;
	height: 20px;
	text-align: center;
}

p.last_update_info em {
	color: #999999;
}

hr.ML_divider {
	margin-top:16px;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
}

div.MLnavi_first,
div.MLnavi_prev,
div.MLnavi_next,
div.MLnavi_last {
	display: table-cell;
	width: 17%;
	overflow: hidden;
	text-align: left;
}
div.MLnavi_prev {
	text-align: center;
}
div.MLnavi_next {
	text-align: center;
}

div.MLnavi_last {
	text-align: right;
}

code.manual_code {
	display:block;
	max-width: 50%;
	background-color: #EEEEEE;
	color: #000000;
	padding: 10px;
	word-wrap: pre;
	font-family: monospace;
	font-size: 12px;
	line-height: 1.5em;
	border: 1px solid #AAAAAA;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}